html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

article {
  padding: 0;
  margin: 10px;
}

section {
  padding: 0;
  margin: 10px 0;
}

form {
  padding: 0;
  margin: 10px 0;
}

label {
  padding: 0;
  margin: 10px 0;
  display: block;
}

label p {
  padding: 0;
  margin: 0;
  display: block;
}
